{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>



    <ul id="NavBar">
        <li><a href="{% url 'Library' %}">Library</a></li>
        {% if username == "Admin" %}
            <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
        {% endif %}
        <div class="UserPlace">
            <li><a href="{% url 'user' %}" id="user">user: <span class="highlight">{{ username }}</span></a></li>
        </div>

    </ul>

    <div class="container">
        <p>> WELCOME: <span class="highlight">{{ username }}</span><span class="blinking-cursor">_</span> </p>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}" style="color: greenyellow;" >> SYSTEM: {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Search books</h2>
        <p>Search for books in your library: </p>

            <form id="search-form" method="GET">
                <input id="SearchInput" type="text" name="q" 
                list="suggestion" placeholder="Search for books" required />
                <div id="SearchRes2"></div>
                <datalist id="suggestion">
                    <option value="cats">Cats</option>
                    <option value="maths">maths</option>
                    <option value="dogs">dogs</option>
                    <option value="python">Python</option>
                    <option value="codeing">coding</option>
                    <option value="cooking">cooking</option>
                    </datalist>

        <div class="flex-line">
                <button type="submit">Search</button>
            </form>


        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button class="logout-link">LOGOUT:[{{ username }}]</button>
            </form>
        </div>

        <div id="BookResults"></div>

        {% if username == "Admin" %}
          <h2>ADMIN TOOLS:</h2>
          <form method="POST" action="{% url 'add_book' %}">
              {% csrf_token %}
              <input type="text" name="title" placeholder="Book Title" required>
              <input type="text" name="authors" placeholder="Authors">
              <input type="text" name="description"  placeholder="Description">
              <input type="url" name="thumbnail" placeholder="Thumbnail URl">
              <input type="text" name="google_id" placeholder="Google Book ID" required>
              <button type="submit">Add Book to Personal Library</button>
          </form>
          {% endif %}

        {% if picks %}
        <div class="todays-picks">
            <h2>Today's picks:</h2>
            <div class="picks-scroll">
                {% for book in picks %}
                    <div class="pick-card">
                        {% if book.thumbnail %}
                           <div class="image-box">
                              <img src="{{ book.thumbnail }}" alt="thumbnail">
                           </div>
                        {% endif %}
                        <p class="book-title">{{ book.title }}</p>
                        <small>{{ book.description|truncatewords:15 }}</small>

                        <form method="POST" action="{% url 'add_book' %}">
                           {% csrf_token %}
                           <input type="hidden" name="title" value="{{ book.title }}">
                           <input type="hidden" name="authors" value="{{ book.authors }}">
                           <input type="hidden" name="description" value="{{ book.description }}">
                           <input type="hidden" name="thumbnail" value="{{ book.thumbnail }}">
                           <input type="hidden" name="google_id" value="{{ book.google_id }}">
                           <button type="submit">Add Book</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}



        


    </div>


</div>



   <script>
    const csrftoken = '{{ csrf_token }}'

    document.getElementById('search-form').addEventListener('submit', function(e){
        e.preventDefault();

    const query = document.querySelector('input[name="q"]').value;
    const SearchRes2 = document.getElementById('SearchRes2');
    const Status = document.getElementById('Status')
    const resultsDiv = document.getElementById('BookResults');


        SearchRes2.textContent = `Searching.......`;

        setTimeout(()=> {
                SearchRes2.textContent = `> SEARCHING: for ${query}`;
                Status.textContent = `SYSTEM STATUS: RQUESTING API`;
            }, 1000);


        fetch(`/search-books/?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {
                resultsDiv.innerHTML = '';

                if (data.items && data.items.length > 0) {
                    data.items.forEach(item => {


                        const title = item.title || 'No Title';
                        const authors = item.authors || 'Unknown Author';
                        const description = item.description || 'No description available.';
                        const thumbnail = item.thumbnail || '';
                        const googleId = item.google_id || '';

                        const div = document.createElement('div');
                        div.classList.add('book-card');

                        div.innerHTML = `
                        <img src="${thumbnail}" alt="${title} Thubnail" style="width:100px; height:auto;">
                        <h3>${title}</h3>

                        <p><strong>Authors:</strong> ${authors}</p>
                        <p>${description}</p>
                        <form method="POST" action="/add-book/" class="add-book-form">
                            <input type="hidden" name="csrfmiddlewaretoken" value="${csrftoken}">
                            <input type="hidden" name="title" value="${title}">
                            <input type="hidden" name="authors" value="${authors}">
                            <input type="hidden" name="description" value="${description}">
                            <input type="hidden" name="thumbnail" value="${thumbnail}">
                            <input type="hidden" name="google_id" value="${googleId}">
                            <button type="submit">Borrow Book</button>
                        </form>


                        `;
                        resultsDiv.appendChild(div);
                    });
                } else {
                    resultsDiv.textContent = 'No Books Found.';
                }
            })
            .catch(error => {
                document.getElementById('BookResults').textContent = 'Error fetch books';
                console.error(error);
            });



            });


   </script>


    <div id="SearchRes"></div>
    <div id="Results"></div>
    <div id="interlaced"></div>
    <div id="glare"></div>

    <div class="status-bar">
        <span id="Status">> SYSTEM STATUS: ONLINE </span>
        <span>> USER: {{ username }}</span>
        <span>> VERSION: 1/BETA </span>
    </div>

</body>
</html>
